<% if @user.errors.any? %>
  
  <div class="main-container img">
    <div class="overlay">
      
    </div>
  </div>
  <div class="form-container">
        <h1 class="form-title">Sign Up</h1>

        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

          <% @user.errors.full_messages.each do |msg| %>
            <p class="error"><%= msg %></p>
          <% end %>
        </div>

        <%= form_for(:user, url: {controller: "signup", action: "create"}) do |f| %>
            <%= f.text_field :email, placeholder: "Email", class: "input-field" %> <br>
            <%= f.password_field :password, placeholder: "Password", class: "input-field" %> <br>
            <%= f.text_field :name, placeholder: "Name", class: "input-field" %> <br>
            <%= f.text_field :birthday, placeholder: "Birthday", class: "input-field" %> <br>
            <%= f.file_field :profile_pic, class: "input-field" %> <br>
            <%= f.submit :Signup, class: "submit-btn" %>
        <% end %>
      </div>

<% else %>
  <div class="main-container img">
    <div class="overlay">
      
    </div>
  </div>

  <div class="form-container">
        <h1 class="form-title">Sign Up</h1>

        <%= form_for(:user, url: {controller: "signup", action: "create"}) do |f| %>
            <%= f.text_field :email, placeholder: "Email", class: "input-field" %> <br>
            <%= f.password_field :password, placeholder: "Password", class: "input-field" %> <br>
            <%= f.text_field :name, placeholder: "Name", class: "input-field" %> <br>
            <%= f.text_field :birthday, placeholder: "Birthday", class: "input-field" %> <br>
            <%= f.file_field :profile_pic, class: "input-field" %> <br>
            <%= f.submit :Signup, class: "submit-btn" %>
        <% end %>
      </div>
<% end %>