<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="main-container blue">
  <div class="container">
    <div class="post-container">
      <h1><%= @post.title %></h1>
      <hr>
      <h3><%= @post.body %></h3>

      <%= link_to "dashboard", {controller: "user", action: "index"} %>
    </div>
  </div>
</div>