<div class="main-container img">
  <div class="overlay">
    <div class="single-post-container">
      <div class="post-container">
        <div class="user-info">
          <% if @post.user.profile_pic.attached? %>
              <%= image_tag @post.user.profile_pic, class: "user-pic" %>
          <% end %>
              <%= link_to @post.user.name, user_path(@post.user), class: "user-name" %>
        </div>
        <hr>
        <h1><%= @post.title %></h1>
        <h3><%= @post.body %></h3>
      </div>
    </div>
  </div>
</div>

<%= link_to "+", {controller: "post", action:"new"}, id: "new-post" %>
