<div class="main-container img">
    <div class="overlay">
        
    </div>
</div>

<%= link_to "+", {controller: "post", action:"new"}, id: "new-post" %>

        <div class="container">
            
            <div class="profile-container">
                <% if @user.profile_pic.attached? %>
                    <%= image_tag @user.profile_pic, class: "profile-pic" %>
                <% end %>
                <h1 class="main-container-title">Welcome <%= @user.name %></h1>
            </div>
            
            <div class="posts-container">
                <% @posts.each do |post| %>
                    <div class="post-container">
                        <h1 class="post-title"><%= link_to post.title, post_path(post), class: "post-title" %></h1>
                        <h3 class="post-body"><%= post.body %></h3>
                    </div>
                <% end %>
            </div>
        </div>