<div class="main-container blue">
    <div class="form-container">
        <h1 class="form-title">Login</h1>
        <% if @error %>
          <div id="error_explanation">
            <h2>prohibited this article from being saved:</h2>

            <%= @error %>
          </div>
        <% end %>
        <%= form_for(:user, url: {controller: "login", action: "create"}) do |f| %>
            <%= f.text_field :email, placeholder: "Email", class: "input-field" %> <br>
            <%= f.password_field :password, placeholder: "Password", class: "input-field"%> <br>
            <%= f.submit "Login", class: "submit-btn" %>
        <% end %>
    </div>
</div>